body {
    margin: 0px;
    font-family: "Trirong", serif;
}

header div {
    font-size:xx-large;
}

header {
    display: flex;
    top: 0;
    width: 100%;
    background-color: antiquewhite;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    color: rgb(45, 35, 99);
    padding: 10px;
    font-family: "Sofia", serif;
}
header div img {
    padding-left: 20px;
    height: 100px;
    scale: 1;
}

nav a {
    padding: 10px 25px;
    text-decoration: none;
    color: rgb(45, 35, 99);
    float: left;
    justify-content: center;
    border-width: 1cm;
    border-color: rgb(45, 35, 99);
    border-radius: 30px;
    background-color: rgb(255, 254, 240);
}

nav a:hover {
    background-color: darkgray;
    border-radius: 10px;
}

section.home {
    background-image: url("1745804608516.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    padding-top: 100px;
}

section.home div {
    text-align: center;
    color: rgb(45, 35, 99);
    margin: auto;
    width: 70%;
    padding: 20px;
}

section.home .welcome {
    font-size: 30px;
    color:antiquewhite;
    background-color: rgb(45, 35, 99);
    max-width:fit-content;
    border-radius: 10px;
}

section.home a {
    color: rgb(45, 35, 99);
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3 px;
    border-radius: 20px;
    background-color: antiquewhite;
}

section.about {
    background-color: rgb(45, 35, 99);
    height: 1100px;
    padding-top: 100px;
}

section.about div {
    color: antiquewhite;
    text-align: center;
    margin: auto;
    width: 70%;
}

section.about img {
    height: auto;
    border: 1cm;
    border-radius: 15px;
    width: 70%;
}

section.about img:hover{
    transform: scale(1.050);
}

section.product {
    background-color:  rgb(45, 35, 99);
    background-size: cover;
    background-attachment: fixed;
    height: 3000px;
}

section.product .container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

section.product .container .card {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px;
    width: 40%;
    height:auto;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgb(21, 17, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.product .container .card img {
    width: 100%;
    border-radius: 10px;
}

section.product .container .card a {
    color: rgb(21, 17, 49);
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    padding: 5px 10px;
}

section.product .container .card a:hover{
    transition: 0.5s;
    transition: 0.5s;
    background-color: rgb(91, 91, 255);
}

section.product .container .card:hover{
    box-shadow: 0 0 5px whitesmoke;
    transition: 0.5s;
    overflow: hidden;
    transition: 0.5s;
}

section.order {
    background-color: rgb(45, 35, 99);
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    text-align: center;
    justify-content: center;
    height:fit-content;
}

section.order .card{
    position: relative;
    margin: 10px;
    position: relative;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 5px antiquewhite;
    text-align: center;
    overflow:hidden;
    border-radius: 10px;
    transition: 0.5s;
}

section.order .card .gambar{
    position: absolute;
    width: 100%;
    border-radius: 20px;
}

section.order .card:hover .gambar img {
    scale: 1.2;
    filter: opacity(10%);
    transition: 0.5s;
}

section.order .card .gambar img {
    width: 100%;
    border-radius: 20px;
}

section.order .card .description {
    position:absolute;
    top:300px;
    padding: 0px 10px;
    transition: 0.5s;
}

section.order .card:hover .description{
    top:0px;
    transition: 0.5s;
}
section.contact {
    background-image: url("Bg contact.jpg");
    height: 600px;
}

section.contact .card {
    background-color: rgb(45, 35, 99);
    margin: auto;
    color:blanchedalmond;
    text-align: center;
    padding-top: 100px;
    width: 400px;
    border-radius: 20px;
}

section.contact .card img {
    width: 300px;
    border-radius: 20px;
    border-color: antiquewhite;
    border-width: 1cm;
}

section.contact .card img:hover {
    transform: scale(1.050);
}

footer {
    background-color: antiquewhite;
    height: 50px;
    text-align: center;
    font-size: larger;
}

footer .medsos {
    padding-top: 10px;
}

footer .medsos a {
    color: rgb(45, 35, 99);
    font-size: 20px;
    padding: 5px 20px;
}
